html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    border: 1px solid black;
    padding: 10px;
}

#work-timer{
    display: flex;
    gap: 5px;
}

#break-timer{
    display: flex;
    gap: 5px;
}

#cycles-tracker{
    display: flex;
    gap: 5px;
}

#buttons-container{
    display: flex;
    gap: 10px;
}