html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
}


#container{
    border: 4px solid #023047;
    padding: 40px;
    margin: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    box-shadow: 0 0 10px #023047;
    background: linear-gradient(to bottom, #f2f2f2, #023047);
    
}

#work-timer{
    display: flex;
    gap: 5px;
}

#break-timer{
    display: flex;
    gap: 5px;
}

#cycles-tracker{
    display: flex;
    gap: 5px;
}

#buttons-container{
    display: flex;
    gap: 10px;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

#header, button{
    background-color: #023047;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #CCCCCC;
    transform: scale(1.05);
}

#website-logo{
    width: 100px;
}